body {
  background-color: #5e60ce;
  color: white;
  font-weight: bold;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center-flex {
  display: flex;
  align-items: center;
}

.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.03); }