.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 637px) {
  .container {
    justify-content: center;
    margin: 0 12px;
    flex-direction: column;
  }
}

@media screen and (min-width: 638px) and (max-width: 861px) {
  .container {
    flex-wrap: wrap;
  }

  .container div:nth-child(2) {
    order: 1;
  }
}
