.container {
  position: absolute;
  top: -18px;
  right: 18px;
  padding: 6px;
  background-color: #6930c3;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  width: 160px;
}

.container a:hover {
  color: #afa3c2;
  cursor: pointer;
}
